{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.prenom }} </h1>
    <dl>
        <dt>Nom</dt>
        <dd>{{ user.nom }}</dd>
        <dt>Prenom</dt>
        <dd>{{ user.prenom }}</dd>
        <dt>Contact</dt>
        <dd>Email : {{ user.email }} </dd>
        <dd>Téléphone : {{ user.telephone }}</dd>
    </dl>
    <a href ='{{ path('app_profile', {'id': user.id}) }}'>Modifier mes informations</a>
{% endblock %}
