    <div class="container mt-4">
        <h1>Liste des cartes</h1>
        <form action="{{ path('app_carte_public') }}" style="padding: 15px" class="d-flex" role="search">
            <input name="search" class="form-control me-2" type="search" placeholder="Rechercher une carte" aria-label="Search">
            <button class="btn btn-dark" type="submit">Rechercher</button>
        </form>
        <br>
        <div class="nav-item dropdown">
            <a style="display: flex;" class="nav-link dropdown" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span style="display: flex" class="material-symbols-outlined">filter_list</span><h5>Filtrer par région</h5></a>
            <div class="dropdown-menu">
                {% for region in regions %}
                    <a class="dropdown-item" href="{{ path('app_region_show', {'id': region.id}) }}">{{ region.nom }}</a>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center flex-wrap container-partner-card">
            {% for carte in cartes %}
                <div class="card" style="width: 15rem;">
                    <a href="{{ path('app_carte_show', {'id': carte.id}) }}"><img class="card-img-top" src="{{ vich_uploader_asset(carte, 'imageFile')  }}" alt="Card image cap">
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
