{% extends 'base.html.twig' %}

{% block title %}AOC - Partenaire - Fiches
{% endblock %}

{% block body %}
    <div class="container mt-4">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

        <h1>Mes Cartes</h1>

        <a href="{{ path('app_card_new') }}" class="btn btn-primary">
            Créer une carte
        </a>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Information</th>
                    <th scope="col">Image</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Suppresion</th>
                </tr>
                </thead>
                <tbody>
                {% for carte in cartes %}
                    <tr class="table-primary">
                        <th scope="row">{{ carte.id }}</th>
                        <td><strong> Nom : </strong></br> {{ carte.name }}
                            </br> <strong> Description : </strong></br> {{ carte.description }}
                            </br> <strong> QrCode : </strong></br> {{ carte.qrcode }}</td>

                        <td><img style="width: 130px;height: 201px;" src="{{ vich_uploader_asset(carte, 'imageFile')  }}"></td>
                        <td>
                            <a href="{{ path('app_carte_edit', { id: carte.id }) }}" class="btn btn-info">Modifier</a>
                        </td>
                        <td>
                            <a href="{{ path('app_carte_delete', { id: carte.id }) }}" class="btn btn-warning">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>



    </div>
{% endblock %}
