{% extends 'base.html.twig' %}

{% block title %}{{ carte.name }}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="../style.css">
    <nav class="contentUl">
        <h1 class="titleform" style="font-size=25px;">{{ carte.name }}</h1>
        <dl>
            <img style="width: 200px;height: 200px;" src="{{ vich_uploader_asset(carte, 'imageFile') }}"
                 onclick="displayMap()"/>
            <dt class="titleform">Description</dt>
            <dd class="textform">{{ carte.description }}</dd>
        </dl>
    </nav>

    <div id="mapContainer">
        <div class="map">
            <div id="map"></div>
            <img src="https://cdn-icons-png.flaticon.com/512/561/561189.png" alt="fermer" onclick="displayMap()"/>
        </div>
    </div>
    <?php echo "123442" ?>
    <script>
        function displayMap() {
            let mapContainer = document.getElementById('mapContainer');
            mapContainer.classList.toggle('mapContainerVisible');
        }
    </script>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>

    <script type="text/javascript">
        let lat = 49.06001;
        let lon = 4.2188;
        let zoom = 10;
        let myMap = null;

        {% set coord = carte.coord|split(',') %}
        {% if (coord[0] is defined) and (coord[0] is not null) %}
            lat = {{ coord[0] }};
        {% endif %}
        {% if (coord[1] is defined) and (coord[1] is not null) %}
            lon = {{ coord[1] }};
        {% endif %}
        {% if (coord[2] is defined) and (coord[2] is not null) %}
            zoom = {{ coord[2] }};
        {% endif %}

        function initMap() {
            myMap = L.map('map').setView([lat, lon], zoom);

            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(myMap);

            L.marker([lat, lon]).addTo(myMap);
        }

        window.onload = function () {
            initMap();
        };
    </script>

{% endblock %}
