{% extends 'base.html.twig' %}

{% block title %}{{ carte.name }}{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mt-4">{{ carte.name }}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_carte_edit', { id: carte.id }) }}"><span class="material-symbols-outlined">edit_square</span></a>
            {% endif %}</h1>

        <div style="display: flex;flex-direction: row" class="mt-4">
            <img src="{{ vich_uploader_asset(carte,'imageFile')  }}" alt="">
            <dl>
                <dt>Description</dt>
                <dd>{{ carte.description|raw }}</dd>

                <dt>Cépage</dt>
                <dd>{{ carte.cepage.name ?? 'Aucune'  }}</dd>

                <dt>Crus</dt>
                <dd>{{ carte.crus.nom ?? 'Aucune'  }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}