<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Age Of Champagne</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="mailto: aoc.le.jeu@gmail.com">Contact</a>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-link" href="{{ path('app_fiche_public') }}">Partenaires</a>
                {% endif %}

            </div>
            <div class="d-flex">
                <ul class="navbar-nav me-auto">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li  class="nav-item dropdown">
                            <a style="display: flex;" class="nav-link dropdown" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="material-symbols-outlined">person</span>{{ app.user.prenom }}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('app_profile', {id : app.user.id}) }}">Mon profil</a>
                                <div class="dropdown-divider"></div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
                                    <div class="dropdown-divider"></div>
                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('app_fiche') }}">Espace partenaire</a>
                                    <a class="dropdown-item" href="{{ path('app_carte') }}">Espace cartes</a>

                                    <div class="dropdown-divider"></div>
                                {% endif %}

                                <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>