{% extends 'base.html.twig' %}

{% block title %}{{ vigneron.prenom }} {{ vigneron.nom }}{% endblock %}

{% block body %}
    <h1>{{ vigneron.prenom }} {{ vigneron.nom }}</h1>
    <dl>
        <dt>Nom</dt>
        <dd>{{ vigneron.prenom }}</dd>

        <dt>Prénom</dt>
        <dd>{{ vigneron.nom }}</dd>

        <dt>Description</dt>
        <dd>{{ vigneron.description }}</dd>

        <dt>Contact</dt>
        <dd>Email : {{ vigneron.email }} </dd>
        <dd>Téléphone : {{ vigneron.telephone }}</dd>



    </dl>

{% endblock %}
