{% extends 'base.html.twig' %}

{% block title %}{{ utilisateur.prenom }} {{ utilisateur.nom }}{% endblock %}

{% block body %}
    <h1>{{ utilisateur.prenom }} {{ utilisateur.nom }}</h1>
    <dl>
        <dt>Nom</dt>
        <dd>{{ utilisateur.prenom }}</dd>

        <dt>Prénom</dt>
        <dd>{{ utilisateur.nom }}</dd>


        <dt>Contact</dt>
        <dd>Email : {{ utilisateur.email }} </dd>
        <dd>Téléphone : {{ utilisateur.telephone }}</dd>



    </dl>

{% endblock %}
