{% extends 'base.html.twig' %}

{% block title %}AOC - Acceuil{% endblock %}

{% block body %}
<nav>
    <header>
        <a href="{{path('app_acceuil') }}" class="Active">
            Acceuil
        </a>

        <a href="" class="Nav">
            Partenaires
        </a>

    </header>
    <a href="www.oldhengames.com"><img src="{{ asset("img/Logos/OHGblack.png") }}" alt="Logo Old Hen Games" /></a>


    <a href="mailto:aoc.le.jeu@gmail.com" class="Secondary-reverse">
        Contact
    </a>

</nav>

<main>
    <img src="img/Logos/AOCwhite.png" alt="Logo Age Of Champagne">
    <div>
        <a href=""><img src="{{ asset("img/Icones/Bouteilleswhite.png") }}" alt="Logo bouteilles" /> Votre Collection</a>
        <a href=""><img src="{{ asset("img/Icones/Raisinwhite.png") }}" alt="Logo raisin" /> Carte des vignobles</a>
        <a href=""><img src="{{ asset("img/Icones/qrcodewhite.png") }}" alt="Logo qr code" /> Scanner une carte</a>
    </div>

    <footer>
        <a href="{{path('app_landing') }}" class="Active">
            Se déconnecter
        </a>
    </footer>

</main>


{% endblock %}
