{% extends "base.html.twig" %}

{% block title %}
    AOC - {{ fiche.nom }}
{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mt-4">{{ fiche.nom }}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_fiche_edit', { id: fiche.id }) }}"><span class="material-symbols-outlined">edit_square</span></a>
            {% endif %}</h1>
        <div>
			<span class="badge bg-primary">Créée le
				{{ fiche.createdAt|date('d/m/Y') }}</span>
        </div>

        <img src="{{ vich_uploader_asset(fiche, 'imageFile')  }}" alt="">

        <div class="mt-4">
            {{ fiche.description|raw }}
        </div>

    </div>
{% endblock %}
